<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AWS" connectionString="data source=sqltraining.cvoui7q38caj.us-east-2.rds.amazonaws.com; initial catalog=ContactDB; user id=admin; password=password;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>