<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AWS" connectionString="adventureworks.ctwemdjpages.us-east-2.rds.amazonaws.com; initial catalog=SchedulerApp; user id=andre; password=password;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>