@model SchedulerApp.Client.ViewModels.PersonVM
<p>
    @Html.ActionLink("Back", "Index", new { id = ViewBag.ID})
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@{foreach (var item in Model.AllStudents) {
    <tr>
        <td>
            @item.FirstName
        </td>
        <td>
            @item.LastName
        </td>
        <td>
            
            @Html.ActionLink("Delete", "DeleteStudent", new {  id=ViewBag.ID , courseid = ViewBag.CourseID, studentid = item.PersonID  })
        </td>
    </tr>
        } }

</table>
